<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Thymeleaf</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="wrapper rounded">
    <nav class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start"> <a class="navbar-brand" href="#">Transactions <p class="text-muted pl-1">Welcome to your transactions</p> </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item ">
                    <input id="startDate" type="date" class="light"
                           placeholder="Date Start" />
                </li>
                <li class="nav-item ">
                    <input id="endDate" type="date" class="light"
                           placeholder="Date End" />
                </li>
                <li class="nav-item ">
                    <select id="typeSelect" class="light">
                        <option value="">类型</option>
                        <option value="0">充值</option>
                        <option value="1">消费</option>
                    </select>
                </li>
                <li class="nav-item">
                    <a class="fa fa-search"
                       href="javascript: loadTransaction(1)"></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row mt-2 pt-2">
        <div class="col-md-4" id="balance-wrapper">
            <div class="d-flex justify-content-center align-items-center">
                <div
                        class="fa fa-money d-flex justify-content-center align-items-center"></div>
                <div class="text mx-3">Balance</div>
                <div class="text-white ml-4 money" id="balance"></div>
            </div>
        </div>
        <div class="col-md-4" id="income-wrapper">
            <div class="d-flex justify-content-center align-items-center">
                <div class="fa fa-long-arrow-down d-flex justify-content-center align-items-center"></div>
                <div class="text mx-3">Income</div>
                <div class="text-white ml-4 money" id="income">￥0</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center align-items-center">
                <div class="fa fa-long-arrow-up d-flex justify-content-center align-items-center"></div>
                <div class="text mx-3">Expense</div>
                <div class="text-white ml-4 money" id="expense">￥0</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item"> <a class="nav-link active"
                                      href="#history">History</a> </li>
        </ul>
        <ul class="nav nav-tabs d-flex align-items-center">
            <li class="nav-item">
                <input id="amount" type="number" class="light py-1"
                       placeholder="Amount" />
            </li>
            <li class="nav-item ml-2">
                <select id="type" class="light">
                    <option value="0">充值</option>
                    <option value="1">消费</option>
                </select>
            </li>
            <li class="nav-item ml-2">
                <button class="btn btn-primary"
                        onclick="createTransaction()">
                    New Transaction
                </button>
            </li>
        </ul>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-dark table-borderless">
            <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">AssociationID</th>
                <th scope="col">Date</th>
                <th scope="col" class="text-right">Amount</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center results">
        <span class="pl-md-3">Showing<b class="text-white"><span
                id="startCount"></span>-
            <span id="endCount"></span> of <span
                id="totalRecords"
        ></span></b>trasactions</span>
        <div class="pt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"
                        id="prev"
                        onclick="page > 1 && (--page, updatePagination(),
                        loadTransaction(page))">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span> </a> </li>
                    <li class="page-item"
                        id="next"
                        onclick="page < totalPage && (++page,
                        updatePagination(), loadTransaction(page))">
                        <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&gt;</span> </a> </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script th:inline="javascript">
        /*<![CDATA[*/
        let page = 1, totalPage = 1, limit = 15;
        function updatePagination() {
            if (page <= 1) {
                $("#prev").addClass("disabled");
            } else {
                $("#prev").removeClass("disabled");
            }
            if (page >= totalPage) {
                $("#next").addClass("disabled");
            } else {
                $("#next").removeClass("disabled");
            }
        }
        updatePagination();
        loadTransaction(page);

        function loadTransaction(page) {
            if (page <= 0 || page > totalPage) {
                return;
            }
            $.ajax({
                url: '/findTransactions',
                type: "POST",
                data: JSON.stringify({
                    userID: [[${session.userInfo.id}]],
                    limit: limit,
                    page: page,
                    transactionType: $("#typeSelect").val() || undefined,
                    startDate: $("#startDate").val() || undefined,
                    endDate: $("#endDate").val() || undefined
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    if (res.code === 1) {
                        totalPage = Math.max(1, Math.ceil(res.count / limit));
                        const list = res.data.list;
                        $("#balance").html("￥" +
                            (res.data.balance / 100).toFixed(2));
                        $("#income").html("￥" +
                            (res.data.income / 100).toFixed(2));
                        $("#expense").html("￥" +
                            (res.data.expense / 100).toFixed(2));
                        $("#totalRecords").html(res.count);
                        $("#startCount").html((page - 1) * limit + 1);
                        $("#endCount").html((page - 1) * limit +
                            res.data.list.length);
                        $("tbody").empty();
                        list.forEach((v, i) => {
                            $("tbody").append(
                                `<tr>
                            <td><span
                                class="fa fa-briefcase mr-2"></span>${v.type
                                === 0? '充值': '消费'}
                            </td>
                            <td>${v.associationID}</td>
                            <td class="text-muted">${v.createdAt}</td>
                            <td class="d-flex justify-content-end align-items-center">
                                <span class="fa ${v.type === 0?
                                'fa-long-arrow-down': 'fa-long-arrow-up'} mr-1"></span> $${(v.amount / 100).toFixed(2)}
                            </td>
                        </tr>`);
                    });
                } else {

                }
            }
        });
    }
    function createTransaction() {
        $.ajax({
            url: '/createTransaction',
            type: "POST",
            data: JSON.stringify({
                userID: [[${session.userInfo.id}]],
                type: $("#type").val(),
                amount: $("#amount").val()
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res.code === 1) {
                    loadTransaction(1)
                } else {
                    console.log(res.data);
                }
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>